*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}


a{
    text-decoration: none;
    color: black;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.margin-left{
    margin-left: 10px;
}